
<!html>
<head>
    <title>My Facebook Event App</title>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
</head>
<body>
<p>Welcome to our New Facebook App <span id='fbinfo'><fb:name uid='loggedinuser' useyou='false'></fb:name></span></p>
<p>
    Create a Facebook Event <input type="button" onclick="createMyEvent()" />
</p>


<div id='fb-root'></div>
<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
<script type='text/javascript'>

    var fbuserid, fbtoken;
    var appid = "406501179468777";
    var loggedin = false;
    $(document).ready(function() {
        //loginFB();
    });

    FB.init({appId: appid, status: true, cookie: true, xfbml: true});
    FB.Event.subscribe('auth.sessionChange', function(response) {
            if (response.session) {
                var session = FB.getSession();
                fbtoken = session.access_token;
                fbuserid = session.uid;
            }
    });

    FB.getLoginStatus(function(response) {
        if (response.session) {
            var session = FB.getSession();
            fbtoken = session.access_token;
            fbuserid = session.uid;
        }
        else {
            loginFB();
        }
    });

    function loginFB() {
        FB.login(function(response) {
            if (response.session) {
                var session = FB.getSession();
                fbtoken = session.access_token;
                fbuserid = session.uid;
            }
        }, {perms:'create_event'});
    }

    function logoutFB() {
        FB.logout(function(response) {
            // user is now logged out
            location.href = "/auth/logout";
        });
    }

    function createEvent(name, startTime, endTime, location, description) {
        var eventData = {
            "access_token": fbtoken,
            "start_time" : startTime,
            "end_time":endTime,
            "location" : location,
            "name" : name,
            "description":description,
            "privacy":"OPEN"
        }
        FB.api("/me/events",'post',eventData,function(response){
            if(response.id){
                alert("We have successfully created a Facebook event with ID: "+response.id);
            }
        })
    }

    function createMyEvent(){
        var name = "My Amazing Event";
        var startTime = "10/29/2011 12:00 PM";
        var endTime = "10/29/2011 06:00 PM";
        var location = "Dhaka";
        var description = "It will be freaking awesome";
        createEvent(name, startTime,endTime, location, description);
    }

    function createEventWithPHP(name, startTime, endTime, location, description) {
        var eventData = {
            "access_token": fbtoken,
            "start_time" : startTime,
            "end_time":endTime,
            "location" : location,
            "name" : name,
            "description":description,
            "privacy":"OPEN"
        }
        $.post("/events.php",eventData,function(response){
            if(response){
                alert("We have successfully created a Facebook event with ID: "+response);
            }
        })
    }

</script>
</body>
</html>