@charset "utf-8";
/* CSS Document */

* {margin:0px; padding:0px; border:none}

html, body {height:100%;}
html {min-width:1004px;}

body {
	margin:0; padding:0; text-align:center; background:#fffbfe url(images/body_bg.jpg) repeat-x 0 0; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; color:#333333;
	}
	
input, select, textarea { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333}
	
input, select {vertical-align:middle; font-weight:normal;}

img { border:none; vertical-align:top; text-align:left}	
	
ul, ol {list-style:none}

a {outline:none;}

p {font-size:12px; line-height:18px; padding-bottom:20px; text-align:justify}


/******* GLOBAL *******/
.fleft {float:left}
.fright {float:right}
.clear {clear:both; font-size:0; line-height:0px; height:0px;}

.alignright {text-align:right;}
.aligncenter {text-align:center;}

/******* LAYOUT *******/
.wrapper_out {width:1004px; margin:0 auto; padding:0; text-align:left}
.main {width:100%; margin:0 auto; padding:0;}
.scroller {width:100%; overflow-x:scroll; overflow-y:hidden}

.banner {height:110px; overflow:hidden; width:100%;font-family: tahoma}
.banner .logo {width:340px; height:75px; display:block; background:url(images/logo.jpg) no-repeat 0 0; float:left}
.banner .linking {width:664px; overflow:hidden; float:right}

.banner .linking ul.admin_links {float:right; }
.banner .linking ul.admin_links li {float:left; display:inline; font-size:11px; font-weight:bold; color:#ffddfa}
.banner .linking ul.admin_links li a {text-decoration:none; color:#ffddfa; padding:0 5px; float:left; display:block}
.banner .linking ul.admin_links li a:hover {text-decoration:none; color:#fada00; padding:0 5px; float:left; display:block}

.banner .linking p.last_login {float:right; margin:0; padding:4px 5px 4px 10px; color:#FFFFFF}

.banner .linking .navigation_cont {height:43px; float:right; background:url(images/nav_bg.gif) repeat-x; margin-top:2px; }

.banner .linking .navigation {margin: 0;padding:0 0 0 10px;height:43px;background:url(images/navbg_bg.gif) no-repeat;z-index: 30}
.banner .linking .navigation li {margin: 0;padding: 4px 0px 0 0;list-style: none;float: left;font: normal 12px arial}
.banner .linking .navigation li a{display: block;margin: 0;padding: 0px 7px; line-height:38px; color: #FFF;text-align: center;text-decoration: none; border-right:1px solid #841874}
.banner .linking .navigation li a:hover{background: #841874}
.banner .linking .navigation div{position: absolute;visibility: hidden;margin: 0;padding: 0;background: #841874;}
.banner .linking .navigation div a{position: relative;display: block;margin: 0;padding: 5px 10px;width: auto;white-space: nowrap;text-align: left;text-decoration: none;background: #841874;color: #fff;font: 11px arial}
.banner .linking .navigation div a:hover{background: #b46baa;color: #FFF}

.login_page {width:800px; margin:0 auto; padding:10px 0; clear:both}
.login_page h1 {font-weight:bold; font-size:14px; display:block; margin-bottom:10px; color:#005193}
.login_page a#back {display:block; text-decoration:none; background:url(images/a_back.gif) no-repeat 0 0; width:31px; height:27px; text-indent:-2000px; margin-right:5px}
.login_page a:hover#back {display:block; text-decoration:none; background:url(images/a_back_h.gif) no-repeat 0 0; width:31px; height:27px; text-indent:-2000px; margin-right:5px}
.login_page a#plus {display:block; text-decoration:none; background:url(images/a_plus.gif) no-repeat 0 0; width:31px; height:27px; text-indent:-2000px}
.login_page a:hover#plus {display:block; text-decoration:none; background:url(images/a_plus_h.gif) no-repeat 0 0; width:31px; height:27px; text-indent:-2000px}

.login_page .login_table {margin:0 auto 15px auto; background-color:#fafafa; border:1px solid #e5e5e5;}
.login_page .login_table td {padding:5px 10px}
.login_page .login_table label {width:120px; display:block}
.login_page .login_table .input {background-color:#FFFFFF; border:1px solid #cccccc; padding:5px 10px;}
.login_page .login_table .button {background:url(images/button.gif) repeat-x left center; color:#FFFFFF; font-weight:bold; padding:3px 5px; cursor:pointer; font-size:11px;}
.login_page .login_table .button:hover {background:url(images/button_h.gif) repeat-x left center; color:#FFFFFF; font-weight:bold; padding:3px 5px; cursor:pointer; font-size:11px;}
.login_page .login_table a.quest {color:#d641c0; font-size:11px; background:url(images/question.gif) no-repeat 0 0; line-height:22px; display:block; padding:0 0 0 27px}
.login_page .login_table a.quest:hover {color:#ea8909; font-size:11px; background:url(images/question.gif) no-repeat 0 0; line-height:22px; display:block; padding:0 0 0 27px}

.login_page .info_table {width:400px; margin:0 auto 15px auto; background-color:#e5e5e5;}
.login_page .info_table th, .login_page .info_table td {padding:5px 10px}
.login_page .info_table th {white-space:nowrap;background-color:#efeeee; font-size:12px; text-transform:uppercase}
.login_page .info_table td {white-space:nowrap; background-color:#FFFFFF}
.login_page .info_table a#a1 {color:#de6e01; text-decoration:none; display:block}
.login_page .info_table a#a1:hover {color:#de6e01; text-decoration:none; display:block; text-decoration:underline;}
.login_page .info_table a#a2 {color:#FF00FF; text-decoration:none; display:block}
.login_page .info_table a#a2:hover {color:#FF00FF; text-decoration:none; display:block; text-decoration:underline;}

.footer_out {background-color:#333333; border-top:4px solid #CCCCCC; padding:10px 0}
.footer_in {width:1004px; margin:0 auto; color:#999999}