html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
html { height: 101%; }
body { background: #e8eff7; font-size: 62.5%; line-height: 1; padding-bottom: 55px; font-family: Arial, Geneva, sans-serif; }

#facebook{width:300px; float:left; margin:0 0 0 150px}

#or{width:60px; float:left;text-align:center; font:14px Arial, Helvetica, sans-serif; margin:20px 0 0 0}
#sup_img{ margin: 0 120px 0 0;}
#footer_logo{ width:490px; float:right; margin:100px 0 0 300px}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

a { text-decoration: none; color: #4983bd; }
a:hover { text-decoration: underline; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }
input { outline: none; }

p { display: block; font-size: 1.35em; line-height: 1.2em; color: #444; margin-bottom: 12px; }

h1 { font-size: 3.2em; font-family: 'ABeeZee', Arial, sans-serif; font-weight: normal; font-style: italic; color: #575a5f; margin-bottom: 22px; text-shadow: 1px 1px 0px rgba(255,255,255,0.65); text-align: right; }
h2 { 
  font-size: 1.75em; 
  height: 40px; 
  line-height: 40px;
  padding-left: 18px;
  color: #997a4a;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.65);
  background-color: #f4dfa4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9eabf), to(#f4dfa4));
  background-image: -webkit-linear-gradient(top, #f9eabf, #f4dfa4);
  background-image: -moz-linear-gradient(top, #f9eabf, #f4dfa4);
  background-image: -ms-linear-gradient(top, #f9eabf, #f4dfa4);
  background-image: -o-linear-gradient(top, #f9eabf, #f4dfa4);
  background-image: linear-gradient(top, #f9eabf, #f4dfa4);
}



/* page structure */
#w { width: 880px; margin: 0 auto; padding-top: 25px; }

#page { 
  display: block;
  position: relative;
  overflow: hidden;
  height: auto;
  background: #fff; 
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 12px 0 rgba(150, 180, 210, .9);
  -moz-box-shadow: 0 0 12px 0 rgba(150, 180, 210, .9);
  box-shadow: 0 0 12px 0 rgba(150, 180, 210, .9);
}
.content {
  box-sizing: border-box;
  width: 600px;
  margin: 0 auto;
  padding-bottom: 30px;
  padding: 5px 15px;
  padding-top: 25px;
}

/* inner page layouts */
#content-login { display: block; position: relative; width: 100%; }

#content-register { display: none; width: 100%; position: absolute; top: 0; left: 880px; }

.slidelink { font-size: 1.25em; font-weight: bold; display: inline-block; float: right; }
.leftsidelink { font-size: 1.25em; font-weight: bold; display: inline-block; }


/* form styles */
label { display: block; font-weight: bold; color: #72757b; text-transform: uppercase; letter-spacing: 0.2em; font-size: 1.4em; line-height: 1.45em;  }

form#login, form#register { padding-top: 15px; padding-bottom: 20px; }

.btn {
  outline: none;
  box-sizing: border-box;
  display: block;
  min-width: 60px;
  height: 36px;
  padding: 0 22px;
  cursor: pointer;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-color: #3e75cd;
  vertical-align: middle;
  line-height: 36px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  background-color: #5d93eb;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5d93eb), color-stop(100%, #3e75cd));
  background-image: -webkit-linear-gradient(top, #5d93eb, #3e75cd);
  background-image: -moz-linear-gradient(top, #5d93eb, #3e75cd);
  background-image: -o-linear-gradient(top, #5d93eb, #3e75cd);
  background-image: linear-gradient(top, #5d93eb, #3e75cd);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.btn:hover {
  background-color: #699ef4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #699ef4), color-stop(100%, #3e75cd));
  background-image: -webkit-linear-gradient(top, #699ef4, #3e75cd);
  background-image: -moz-linear-gradient(top, #699ef4, #3e75cd);
  background-image: -o-linear-gradient(top, #699ef4, #3e75cd);
  background-image: linear-gradient(top, #699ef4, #3e75cd);
}
.btn:active {
  box-shadow: 0 0 9px 0 rgba(0,0,0,0.3) inset;
}

.txtfield { 
  padding: 8px 11px; 
  width: 350px;
  margin-bottom: 25px;
  font-size: 1.66em; 
  font-weight: normal;
  color: #a2bfdb;
  text-shadow: 1px 0 1px #fff; 
  background: #e5eef6;
  border: 1px solid #bbd3e9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 4px 0 rgba(176, 199, 221, .5);
  -moz-box-shadow: inset 0 1px 4px 0 rgba(176, 199, 221, .5);
  box-shadow: inset 0 1px 4px 0 rgba(176, 199, 221, .5);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.txtfield:focus {
  color: #85a9cd;
  border-color: #99b7d3;
  -webkit-box-shadow: inset 0 1px 4px 0 rgba(176, 199, 221, .5), 0 0 9px 0 #bad3eb;
  -moz-box-shadow: inset 0 1px 4px 0 rgba(176, 199, 221, .5), 0 0 9px 0 #bad3eb;
  box-shadow: inset 0 1px 4px 0 rgba(176, 199, 221, .5), 0 0 9px 0 #bad3eb;
}


