*, *:before, *:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	margin: 0px auto;
	padding: 0px;
	width: 800px;
	font-family: Arial, Helvetica, sans-serif;
	color:#666666;
}

#container{ background:url(../img/converse_bg.jpg) no-repeat; width:800px; margin:0px auto; height:966px}
#container1{ background:url(../img/heading.png) no-repeat; width:800px; margin:0px auto; height:966px; background-color:#fff}
#get_start{ text-align:center;margin: -30px 0 0; }
#blank{height:930px; width:800px}
#blank1{ height:150px; width:800px}
#canvas {
    width: 100%;
    height: 100%;
}

/*#tools {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
} 
*/
#upload-wrapper {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	background: #F5F5F5;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 1px 1px 3px #AAA;
}
#upload-wrapper h3 {
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 20px 0px;
	margin-top: -30px;
	border-bottom: 1px dotted #DDD;
}
#upload-wrapper input[type=file] {
	border: 1px solid #DDD;
	padding: 6px;
	background: #FFF;
	border-radius: 5px;
}
#upload-wrapper #submit-btn {
	border: none;
	padding: 10px;
	background: #61BAE4;
	border-radius: 5px;
	color: #FFF;
}
#output{
	padding: 5px;
	font-size: 12px;
}
#output img {
	border: 1px solid #DDD;
	padding: 5px;
}

#input-text {
    width: 100px;
}


.drives{ width:800px; float:left; height:300px}
#left{ width:380px; float:left; margin:70px 0 0 80px}
#right{margin:70px 0 0; width:340px; float:right}
.text_feild{ background:url(../img/text.png) no-repeat; height:87px; width:254px !important; border:none;padding: 0 0 0 8px;}

.google_drive{ background:url(../img/google_drive.png) no-repeat; width:159px; height:38px; border:none; cursor:pointer}
.google_image{ background:url(../img/google_images.png) no-repeat; width:159px; height:38px;border:none; cursor:pointer}
.upload_image{ background:url(../img/upload_file.png) no-repeat; width:159px; height:38px;border:none; cursor:pointer}
#webcam{ background:url(../img/webscam.png) no-repeat; width:159px; height:38px;border:none; cursor:pointer}
#delete{ background:url(../img/draw.png) no-repeat; width:159px; height:38px; border:none; cursor:pointer}
.save{ background:url(../img/save.png) no-repeat; width:51px ; height:24px; border:none; float:right; cursor:pointer}
.save_upload{ background:url(../img/save_upload.png) no-repeat; width:253px; height:40px; border:none; cursor:pointer}
.gallery{ background:url(../img/gallerybuttton.png) no-repeat; width:159px; height:38px; border:none; cursor:pointer; display: block;}
.wait{ width:800px; text-align:center}

#file_browse_wrapper {
    width: 159px;
    height: 38px;
    background: url('../img/upload_file.png') 0 0 no-repeat;
    border:none;
    overflow:hidden;
	cursor:pointer;
	
}
#file_browse_wrapper:hover {
    background: url('../img/upload_file.png') 0 0 no-repeat;
	
	cursor:pointer;
}
#file_browse_wrapper:active {
    background: url('../img/upload_file.png') 0 0 no-repeat;
}

.file_browse{
    margin-left:-0;
    opacity:0.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

.title{ text-align:center; font-size:14px; width:215px; float:left; text-decoration:none; color:#000}
.example-image-link{ width:215px; float:left; margin-left:30px;margin-bottom: 30px; margin-right:10px}
.lb-number{ display:none}