*, *:before, *:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	color:#666666;
}

#container{ background:url(../img/converse_bg.jpg) no-repeat; width:800px; margin:0px auto; height:966px}
#get_start{ text-align:center;margin: -30px 0 0; }
#blank{height:930px; width:800px}
#canvas {
    width: 100%;
    height: 100%;
}

#tools {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
} 

#upload-wrapper {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	background: #F5F5F5;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 1px 1px 3px #AAA;
}
#upload-wrapper h3 {
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 20px 0px;
	margin-top: -30px;
	border-bottom: 1px dotted #DDD;
}
#upload-wrapper input[type=file] {
	border: 1px solid #DDD;
	padding: 6px;
	background: #FFF;
	border-radius: 5px;
}
#upload-wrapper #submit-btn {
	border: none;
	padding: 10px;
	background: #61BAE4;
	border-radius: 5px;
	color: #FFF;
}
#output{
	padding: 5px;
	font-size: 12px;
}
#output img {
	border: 1px solid #DDD;
	padding: 5px;
}

#input-text {
    width: 100px;
}