@charset "utf-8";
/* CSS Document */
a {text-decoration:none;}
img {border:none;}
ul,ol {margin:0px;padding:0px;}
input {outline:none;}
body {margin:0px;padding:0px;background:#b60a0a;overflow:hidden;}
/**************************Click Photo*******************************/
#left {float:left;width:25%;}
#right {float:right;width:75%;}
#responsecontainer {float:left;width:100%;min-height:62%;border-bottom:#000 1px solid;}
#clicknames {width:88%;float:left;padding:4% 0;margin:0 0 0 5%;list-style-type:none;}
#clicknames li {background:#ff7070;color:#000;font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;display:block;border-radius:10px;padding:5px 5px;font-weight:bold;margin-bottom:2%;}
#clickphoto {float:left;width:100%;min-height:28%;}
#status {position:absolute;margin:45% 0 0 30%;color:#3F0;font-size:150px;font-weight:inherit;font-family:impact;z-index:9999999999999;}
/***********************WEBCAM***************************************/
#webcam {position:relative;}
#webcam > span {z-index:2;position:absolute;color:#eee;font-size:10px;bottom: -16px;left:152px;}
#webcam > img {z-index:1;position:absolute;border:0px none;padding:0px;bottom:-40px;left:89px;}
#webcam > div {position:absolute;}
#webcam a > img {border:0px none;}
#flash {position:absolute;top:0px;left:0px;z-index:5000;width:100%;height:500px;background-color:#c00;display:none;}
object {display:block; /* HTML5 fix */position:relative;z-index:1000;}