@charset "utf-8";
/* CSS Document */
/****************** Body ***************************************/
body {background-color:#fff;overflow-x:hidden;}
#container {margin: 0px auto;width: 966px;overflow:hidden;}
.span-1 {width: 100px;}
.span-2 {width: 200px;}
.span-3 {width: 300px;}
.span-4 {width: 400px;}
.span-5 {width: 500px;}
.span-6 {width: 600px;}
.span-7 {width: 700px;}
.span-8 {width: 800px;}
.span-9 {width: 900px;}
.span-10 {width: 100%;}
a {text-decoration:none;}
/*****************************************************************/
#logo {float:right; width:520px}
#header{ height:50px; background:#c51616; margin:20px 0 0 0; padding:10px 0}
#content{font-family: 'Basic', sans-serif; font-size:36px; color:#000; text-align:center; margin:65px 0 0 0}
#sub_text{ font-size:36px; color:#c51616; }
#uid{ font-size:24px; color:#000; }
#fb{ color:#c51616; font-size:16px; margin:35px 0 0 0}

/*****************************************************************/
#footer_logo{float:right; width:535px; margin:70px 0 0 0; padding-bottom:15px}


/*****************************************************************/



/*****************************************************************/



/*****************************************************************/



