@charset "utf-8";
/* CSS Document */
/****************** Body ***************************************/
body {background-color:#FFF;overflow-x:hidden;}
#container {margin: 0px auto;width: 966px;overflow:hidden;width:940px;background-color:#EEE }
.span-1 {width: 100px;}
.span-2 {width: 200px;}
.span-3 {width: 300px;}
.span-4 {width: 400px;}
.span-5 {width: 500px;}
.span-6 {width: 600px;}
.span-7 {width: 700px;}
.span-8 {width: 800px;}
.span-9 {width: 900px;}
.span-10 {width: 100%;}
a {text-decoration:none;}
/*****************************************************************/

#header{ margin:50px 0 0 0}
table { margin: 1em; border-collapse: collapse; }
td, th { padding: .3em; border: 1px #ccc solid; width:200px;text-align:center}
thead { background: #fc9; }
td {text-align:center}

/*****************************************************************/
